.src
{   
    margin: 0 auto;
    width: 100%;
    position: relative;
    
}

h3
{
    width: 100%;
}

#desc
{
    font-size: 20px;
    justify-content: left;
}

.content
{
    padding: 10px;
}

.rightdiv
{
    position: absolute;
    float: right;
    border: 2px solid black;
    // margin: -272px 552px auto;
    border-radius: 12px;
    padding: 10px;
    top:15%;
    left:65%;
}