<div class="container">
    <header></header>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_daDqhDn-f_zd-cKlQN3sGTyfb55qdBRL8Q&usqp=CAU" alt="" class="src">

    <div class="rightdiv">
        <h4>Cosmetic Products</h4>
    </div>

    <div class="content col-md-6 col-sm-12 col-lg-12">
        <h3> LET YOU FEEL BEAUTIFUL LOOK BEAUTIFUL AND BE BEAUTIFUL INSIDE AND OUT </h3>
        <p id="desc"><b>‘Organization Name’</b> ‘s mission is to elevate, enable, approve, and eventually assemble
        confidence in ladies around the globe through astounding items that empower both inward and
        external beauty and otherworldly edification while additionally giving chances to self-improvement 
        and budgetary reward.</p>
    </div>

    <footer></footer>
</div>