// *{
//     margin: 0px;
//     padding: 0px;
// }
p{
    color: white;
}

.wrapper{
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:flex-start;
}

.box{
    width: 500px;
}

.right{
    flex-shrink: 0;

}
.center{
    flex-grow: 1;
}
.left{
    flex-shrink: 0;

}
b{
    margin: 20px,0,20px,0;
}
.author{
    padding-left: 70px;
}
// *{
//     margin: 0;
//     padding: 0;
// }

// .wrapper{
//     display: grid;
//     grid-template-columns: 3fr,1fr,1fr;
//     grid-template-rows: minmax(600px,auto);
//     grid-row-gap: 1rem;
//     grid-column-gap: 2rem;

// }
// .main{
//     grid-column-start: 1;
//     grid-column-end: 3;
// }
// .right{
//     grid-column-start: 3;
//     grid-column-end: 4;
// }
// .bottom{

// }