.testimonial
{
    background: #eee;
    padding: 1rem;
    border-radius: 20px;
    margin: 25px 15px;
    display: flex;
    align-items: center;
}



.img
{
    width: 90px !important;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.writings
{
    padding: 0 1rem;
}

.bottom-details
{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-weight: bold;
    
}