<div class="container">
    <header></header>
    <!-- <slider></slider>  -->

    <div class="main">
        <div class="py-5 ">
            <p>PRODUCTS</p>
            
            <owl-carousel
                    [options]="sliderOptions"
                    [items]="productModel"
                    [carouselClasses]="['owl-theme', 'sliding']">
                    <div class="item" *ngFor="let prd of productModel">
                        <product-card [data]=prd></product-card>
                    </div>
            </owl-carousel>
            <div class="row more">
                <button type="button" class="btn btn-warning" [routerLink]="'/products'">More</button>
            </div>
            
        </div>
    
        <div class="py-5">
            <p>SERVICES</p>
                
            <div class="row">
                <div class="col-md-4 col-sm-12" *ngFor="let ser of serviceModel">
                   <service-card [data]=ser></service-card>
                </div>
            </div>
            <div class="row more">
                <button type="button" class="btn btn-warning " [routerLink]="'/service'">More</button>
            </div>
            
        </div>


    
    
        <div class="s py-5">
            <p>BLOGS</p>
            
            <div class="row">
                <div class="col-md-4 col-sm-12" *ngFor="let value of values | slice:0:3">
                    <blog-card [data]=value></blog-card>
                 </div>
            </div>
            <div class="row more">
                <button type="button" class="btn btn-warning " [routerLink]="'/blogs'">More</button>
            </div>
            
        </div>
                
   
    
    
        <div class="py-5">
            <p>TESTIMONIALS</p>
            <testimonial-card></testimonial-card>
        </div>
    

        <contact-form></contact-form>
    </div>    
    <footer></footer> 
</div>